<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="icon" type="image/ico" th:href="@{/icons/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/LmsStyle.css}" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/css/bootstrap-select.min.css}">
    <script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: headerfragment"/>
<form th:method="get" th:action="@{/program}">
    <button type="submit" class="arrow-left">Back</button>
    <br/><br/><br/>
</form>
<br/>
<h2 align="center">Edit Batch</h2>
<br/>
<form th:method="put" th:action="@{/programbatch/save/{id}(id=${model.batchId})}" th:object="${model}">
    <br/>
    <div th:replace="fragments/header :: messagefragment"/>
    <table>
        <tr>
            <td>
                <label for="batchId" class="col-form-label">Batch Id</label>
            </td>
            <td><input id="batchId" required type="text" th:field="${model.batchId}" th:readonly="true"
                       class="form-control"/></td>
        </tr>
        <tr>
            <td>
                <label for="batchName" class="col-form-label">Batch Name</label>
            </td>
            <td>
                <input id="batchName" placeholder="Batch name" required type="text"
                       th:field="${model.batchName}"
                       class="form-control"/>
            </td>
        </tr>
        <tr>
            <td><label for="batchDescription" class="col-form-label">Batch Description</label>
            </td>
            <td><input id="batchDescription" placeholder="Batch Description" type="text"
                       th:field="${model.batchDescription}"
                       class="form-control"/></td>
        </tr>
        <tr>
            <td><label class="col-form-label">Batch Status</label><br/>
            </td>
            <td><input type="radio" th:field="${model.batchStatus}" value="Active" checked="checked"/>Active
                &nbsp;
                <input type="radio" th:field="${model.batchStatus}" value="Inactive"/>InActive<br/></td>
        </tr>
        <tr>
                <td><label for="batchProgramID" class="col-form-label">Batch Program ID </label></td>
                <td>
                    <select class="selectpicker" data-live-search="true" id="batchProgramID" th:field="*{batchProgramId}">
                        <option th:each="programItem : ${program}" th:value="${programItem.programId}" th:text="|${programItem.programId} - ${programItem.programName}|">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="noofclasses" class="col-form-label">No.of Classes</label></td>
                <td>
                    <input id="noofclasses" placeholder="No.of Classes " type="text"
                           th:field="*{batchNoOfClasses}"
                           class="form-control"/>
                </td>
            </tr>
        <tr>
            <td colspan="2" align="center">
                <div th:replace="fragments/header :: errorfragment"/>
                <button type="submit" class="block">Update</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
